* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: rgb(239,239,239);
}

html{
    height: 100%;
}

body {
    height: 100%;
    background: rgb(70,90,101);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1800px;
    height: 100%;
    /* justify-content: center; */
}

header{
    display: flex;
    width: 80%;
    height: 10%;
    background: rgb(39,50,56);
    border-radius: 0 0 10px 10px;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 1px 1px 1px rgb(41, 116, 159); */
}

header h1{
    color: aliceblue;
    font-size: 4vmax;
}

.main {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}

.workspace {
    background: rgb(39,50,56);
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s;
    box-shadow: 2px 2px 1px 1px rgb(118, 118, 120);
}

.workspace:hover {
    background: rgb(54,71,79);
    box-shadow: 2px 2px 1px 1px rgb(145, 147, 148);
}

.workspace:active {
    background: rgb(39,50,56);
    transform: scale(0.9);
    box-shadow: 2px 2px 1px 1px rgb(118, 118, 120);
}

.workspace .content {
    margin-left: 10px;
    margin-right: 10px;
    height: 95%;
    position: relative;
}

.workspace .title {
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
}

.workspace .description{
    margin-top: 10px;
    height: 50%;
    width: 100%;
}

.workspace .description p{
}

.workspace .progress{
    position: absolute;
    bottom: 25px;
    background:  linear-gradient(90deg, rgba(31,178,151,1) 0%, rgba(31,178,151,1) 52%, rgba(14,204,131,1) 94%);
    width: 80%;
    height: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px 1px rgb(41, 116, 159);
}

.workspace .progress::after{
    content: "100%";
    margin-left: 105%;
    text-align: center;
}

footer{
    position: fixed;
    display: flex;
    bottom: 10px;
    right: 10px;
    background: rgb(31,178,152);
    max-width: 130px;
    width: 100%;
    height: 60px;
    border-radius: 20px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

footer:hover{
    transform: scale(1.2);
    border-radius: 0;
}

footer:active{
    transform: scale(0.9);
    border-radius: 0;
}